<div class="conatiner-sm">
    <form
        class="mx-auto max-w-500"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()">
        <div class="mb-3 has-validation">
            <label
                for="usernameInput"
                class="form-label">
                Username
            </label>
            <input
                id="usernameInput"
                type="text"
                placeholder="Username"
                formControlName="username"
                class="form-control"
                [ngClass]="{
                    'is-invalid': usernameControl.invalid
                }" />
            <div
                *ngIf="usernameControl.invalid"
                class="invalid-feedback">
                <p class="mb-0">Username is required.</p>
            </div>
        </div>
        <div class="mb-3 has-validation">
            <label
                for="passwordInput"
                class="form-label">
                Password
            </label>
            <input
                id="passwordInput"
                type="password"
                placeholder="Password"
                formControlName="password"
                class="form-control"
                required
                minlength="8"
                [ngClass]="{
                    'is-invalid':
                        passwordControl.invalid || registerForm.errors?.['passwordMismatch']
                }" />
            <div
                *ngIf="passwordControl.errors || registerForm.errors?.['passwordMismatch']"
                class="invalid-feedback">
                <p
                    *ngIf="passwordControl.errors?.['required']"
                    class="mb-0">
                    Password is required.
                </p>
                <p
                    *ngIf="passwordControl.errors?.['minlength'] as minLen"
                    class="mb-0">
                    Password must be at least
                    {{ minLen['requiredLength'] }} characters long.
                </p>
                <p
                    *ngIf="registerForm.errors?.['passwordMismatch']"
                    class="mb-0">
                    Passwords and repeat password must be the same.
                </p>
            </div>
        </div>
        <div class="mb-3 has-validation">
            <label
                for="repeatPasswordInput"
                class="form-label">
                Repeat password
            </label>
            <input
                id="repeatPasswordInput"
                formControlName="repeatPassword"
                type="password"
                placeholder="Repeat password"
                class="form-control"
                required
                minlength="8"
                [ngClass]="{
                    'is-invalid':
                        repeatPasswordControl.invalid || passwordMismatchError
                }" />
            <div
                *ngIf="repeatPasswordControl.errors || passwordMismatchError"
                class="invalid-feedback">
                <p
                    *ngIf="repeatPasswordControl.errors?.['required']"
                    class="mb-0">
                    Repeat password is required.
                </p>
                <p
                    *ngIf="repeatPasswordControl.errors?.['minlength'] as minLen"
                    class="mb-0">
                    Repeat password must be at least
                    {{ minLen['requiredLength'] }}
                    characters long.
                </p>
                <p
                    *ngIf="passwordMismatchError"
                    class="mb-0">
                    Passwords and repeat password must be the same.
                </p>
            </div>
        </div>
        <div class="mb-3 has-validation">
            <label
                for="emailInput"
                class="form-label">
                Email address
            </label>
            <input
                id="emailInput"
                type="email"
                formControlName="email"
                placeholder="Email address"
                class="form-control"
                required
                [ngClass]="{
                    'is-invalid': emailControl.invalid
                }" />
            <div
                *ngIf="emailControl.errors"
                class="invalid-feedback">
                <p
                    *ngIf="emailControl.errors['required']"
                    class="mb-0">
                    Email is required.
                </p>
                <p
                    *ngIf="emailControl.errors['email']"
                    class="mb-0">
                    You have to provide a valid email address.
                </p>
            </div>
        </div>
        <div class="mb-3">
            <button
                class="btn btn-primary"
                [disabled]="!registerForm.valid">
                Register
            </button>
        </div>
    </form>
</div>
