<div class="container-sm">
    <form
        class="mx-auto max-w-500"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        (input)="isAuthFailure = false">
        <div class="mb-3 has-validation">
            <label
                for="username"
                class="form-label">
                Username
            </label>
            <input
                id="username"
                placeholder="Username"
                type="text"
                class="form-control"
                required
                autofocus
                formControlName="username"
                [ngClass]="{
                    'is-invalid': loginForm.controls.username.invalid
                }" />
            <div
                *ngIf="loginForm.controls.username.invalid"
                class="invalid-feedback">
                Username is required.
            </div>
        </div>
        <div class="mb-3">
            <label
                for="password"
                class="form-label">
                Password
            </label>
            <input
                id="password"
                placeholder="Password"
                type="password"
                class="form-control"
                required
                formControlName="password"
                [ngClass]="{
                    'is-invalid': loginForm.controls.password.invalid
                }" />
            <div
                *ngIf="loginForm.controls.password.invalid"
                class="invalid-feedback">
                Password is required.
            </div>
        </div>
        <div class="mb-3">
            <button
                class="btn"
                [ngClass]="{
                    'btn-primary': !isAuthFailure,
                    'btn-danger': isAuthFailure
                }"
                [disabled]="!loginForm.valid">
                <ng-container *ngIf="isLoading; else signInButton">
                    <span
                        class="spinner-border spinner-border-sm"
                        role="status">
                    </span>
                    <span>You are being logged in...</span>
                </ng-container>
                <ng-template #signInButton>Sign In</ng-template>
            </button>
        </div>
    </form>
    <ngb-toast
        *ngIf="isAuthFailure"
        class="mx-auto text-bg-danger">
        Invalid username or password.
    </ngb-toast>
</div>
