<ng-container *ngIf="permissions.ableToRead; else accessForbidden">
    <ng-container
        *ngIf="{
            set: set$ | async,
            items: items$ | async
        } as data">
        <div *ngIf="data.set as set; else loadingBlock">
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <h1>{{ set.title }}</h1>
                    <div
                        *ngIf="permissions.ableToProposeChanges"
                        ngbDropdown
                        placement="bottom-end">
                        <h5
                            class="pt-1"
                            ngbDropdownToggle>
                            <i class="bi bi-gear"></i>
                        </h5>
                        <div ngbDropdownMenu>
                            <button
                                *ngIf="permissions.ableToProposeChanges"
                                ngbDropdownItem>
                                <i class="bi bi-pencil-square"></i>
                                Suggest changes
                            </button>
                            <ng-container *ngIf="permissions.ableToEdit">
                                <button ngbDropdownItem>
                                    <i class="bi bi-search"></i>
                                    Browse suggestions
                                </button>
                                <button ngbDropdownItem>
                                    <i class="bi bi-pen-fill"></i>
                                    Edit
                                </button>
                            </ng-container>
                            <button
                                *ngIf="permissions.ableToManage"
                                ngbDropdownItem>
                                <i class="bi bi-person-fill-gear"></i>
                                Manage access
                            </button>
                        </div>
                    </div>
                </div>
                <p class="text-secondary">
                    {{ set.itemCount }}
                    {{ set.itemCount === 1 ? 'item' : 'items' }}
                    <i class="bi bi-dot"></i>
                    {{ set.creationTime | date : 'medium' }}
                </p>
            </div>
            <hr />
            <div *ngIf="data.items as items">
                <div
                    *ngFor="let item of items"
                    class="card mb-1">
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-sm-2">
                            <div class="col">
                                <p class="card-text">
                                    {{ item.term }}
                                </p>
                            </div>
                            <div class="col">
                                <p class="card-text">
                                    {{ item.translation }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #loadingBlock>
            <div class="text-center">
                <div
                    class="spinner-border text-primary"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h3>Loading...</h3>
            </div>
        </ng-template>
    </ng-container>
</ng-container>
<ng-template #accessForbidden>
    <div class="text-center">
        <h1 class="text-danger text-center">
            <i class="bi bi-sign-stop-fill"></i>
        </h1>
        <h3>You have no access to this page.</h3>
        <button
            class="btn btn-primary"
            routerLink="">
            Return to home page.
        </button>
    </div>
</ng-template>
