<nav class="navbar navbar-dark navbar-expand-md bg-primary mb-3">
    <div class="container-lg">
        <a
            class="navbar-brand fs-4"
            routerLink=""
            (click)="isMenuCollapsed = true">
            Word App
        </a>
        <button
            class="navbar-toggler"
            type="button"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            [ngbCollapse]="isMenuCollapsed"
            class="collapse navbar-collapse fs-5">
            <div
                class="navbar-nav me-auto"
                (click)="isMenuCollapsed = true">
                <a
                    routerLink=""
                    class="nav-link">
                    Link 1
                </a>
                <a
                    routerLink=""
                    class="nav-link">
                    Link 2
                </a>
            </div>
            <div class="navbar-nav">
                <a
                    *ngIf="!authService.isAuthenticated"
                    routerLink="login"
                    class="nav-link"
                    [ngClass]="{
                        active: router.url === '/login'
                    }"
                    (click)="isMenuCollapsed = true">
                    Login
                </a>
                <button
                    *ngIf="authService.isAuthenticated"
                    class="btn btn-danger"
                    (click)="onLogout()"
                    (click)="isMenuCollapsed = true">
                    Logout
                </button>
            </div>
        </div>
    </div>
</nav>
