<nav class="navbar navbar-dark navbar-expand-md bg-primary mb-3">
    <div class="container-lg">
        <a
            class="navbar-brand fs-4"
            routerLink=""
            (click)="isMenuCollapsed = true">
            Word App
        </a>
        <button
            class="navbar-toggler"
            type="button"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            [ngbCollapse]="isMenuCollapsed"
            class="collapse navbar-collapse fs-5">
            <div
                class="navbar-nav me-auto"
                (click)="isMenuCollapsed = true">
                <a
                    routerLink=""
                    class="nav-link">
                    Link 1
                </a>
                <a
                    routerLink=""
                    class="nav-link">
                    Link 2
                </a>
            </div>
            <div class="navbar-nav">
                <ng-container
                    *ngIf="!authService.isAuthenticated; else authenticated">
                    <a
                        routerLink="register"
                        class="nav-link"
                        [ngClass]="{
                            active: router.url === '/register'
                        }"
                        (click)="isMenuCollapsed = true">
                        Register
                    </a>
                    <a
                        routerLink="login"
                        class="nav-link"
                        [ngClass]="{
                            active: router.url === '/login'
                        }"
                        (click)="isMenuCollapsed = true">
                        Login
                    </a>
                </ng-container>
                <ng-template #authenticated>
                    <div
                        ngbDropdown
                        display="dynamic"
                        class="nav-item">
                        <a
                            class="nav-link"
                            ngbDropdownToggle>
                            {{ authService.username }}
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <div ngbDropdownMenu>
                            <button
                                ngbDropdownItem
                                class="text-danger"
                                (click)="
                                    (isMenuCollapsed = true) && onLogout()
                                ">
                                <i class="bi bi-box-arrow-right"></i>
                                Logout
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</nav>
